#footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    justify-content: space-evenly;
}


#buttonPurge {
    background-image: url('../assets/delete-all.png');
    transition: scale 0.3s ease;
}

#buttonPurge::before {
    content: "Remove all tasks";
}

@media screen and (max-width: 630px) {
    #footer {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        max-width: 300px;
    }
}