#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 15px 0;
    border-radius: 30px;
    margin-bottom: 20px;
}

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        input {
            width: 250px;
            padding: 8px 15px;
            margin: 0 10px;
            border-radius: 50px;
            border-style: none;
            box-shadow: inset 2px 2px 3px #40352880;
            cursor: text;
        }

        #inputDark::placeholder {
            color: white
        }

        input:focus {
            outline: none;
        }

        #buttonAdd {
            background-image: url('../assets/plus.png');
            transition: scale 0.3s ease;
        }
        
        #buttonAdd::before {
            content: "Add task";
        }
        
        #buttonSort {
            background-image: url('../assets/sort.png');
            transition: scale 0.3s ease;
        }
        
        #buttonSort::before {
            content: "Sort tasks";
        }

        @media screen and (max-width: 630px) {
            #header {
                max-width: 400px;
            }

            input {
                max-width: 200px;
            }
        }
        
        @media screen and (max-width: 480px) {
            #header {
                max-width: 300px;
                padding: 10px 0;
            }

            input {
                max-width: 130px;
                padding: 5px 10px; 
            }

            input::placeholder {
                font-size: 11px;
            }
        }