#all {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px #40352880;
    flex-direction: column;
    border-color: #403528;
    border-style: solid;
    border-radius: 15px;
}

.divPiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;

}

/* Top */

#top, #topNoList, #darkTop, #darkTopNoList {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
    border-bottom: 3px solid #403528;;
    border-radius: 15px 15px 0 0;
}

#top {
    background-color: rgba(232, 160, 73, 0.7);
}

#topNoList {
    background-color: rgba(232, 160, 73, 0.7);
    border-radius: 15px;
    border-bottom: none;
}

#darkTop {
    background-color: rgba(38, 22, 87, 0.7);
    color: white;
}

#darkTopNoList {
    background-color: rgba(38, 22, 87, 0.7);
    color: white;
    border-radius: 15px;
    border-bottom: none;
}

h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input, .darkInput {
    width: 200px;
    padding: 8px 15px;
    margin: 0 10px;
    border-radius: 50px;
    cursor: text;
}

.darkInput {
    background-color: rgb(26, 25, 25);
    color: white;
}

/* Middle */

#middle, #darkMiddle {
    overflow-y: scroll;
}

#middle {
    background-color: rgba(255, 245, 234, 0.7);
}

#darkMiddle {
    background-color: rgba(17, 17, 17, 0.606);
}

ul {
    padding-inline-start: 0;
    width: 85%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}

li, #darkLi {
    list-style-type: none;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

li {
    border-bottom: 1px solid white;
}

#darkLi {
    border-bottom: 1px solid black;
}

#taskNoButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskList input:checked + span { /*Select the span element that is an immediate sibling following a checked input element within an element with the class listItem.*/
    opacity: 0.5;
    text-decoration: line-through;
}

/* Bottom */

#bottom, #bottomNoList, #darkBottom {
    justify-content: space-evenly;
    border-top: 3px solid #403528;
    border-radius: 0 0 15px 15px;
}

#bottom {
    background-color: rgba(115, 135, 247, 0.9);

}

#darkBottom {
    background-color: rgba(42, 60, 160, 0.9);
}

#bottomNoList {
    display: none;
}











/* Buttons */

.button, .darkButton, #checkbox, #darkCheckbox {
    background-size: cover !important;
    border: none;
    background: none;
    margin: 0 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    scale: 100%;
}

.darkButton, #darkCheckbox {
    filter: invert(100%);
}

button:hover {
    scale: 130%;
    transition: opacity 0.3s ease-out;
}

button::before {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    background-color: #fff;
    color: #333;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    top: -23px;
    left: 100%;
    position: absolute;
    transform: translateX(-10px) scale(0);
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    transform-origin: bottom left;
    transition-delay: 0s;
}

button:hover::before {
    opacity: 1;
    transform: translateX(-10px) scale(1);
    transition-delay: 1s;
}

#buttonAdd {
    background-image: url('../assets/plus.png');
    transition: scale 0.3s ease;
}

#buttonAdd::before {
    content: "Add task";
}

#buttonSort {
    background-image: url('../assets/sort.png');
    transition: scale 0.3s ease;
}

#buttonSort::before {
    content: "Sort tasks";
}

#buttonRemove {
    background-image: url('../assets/delete.png');
    opacity: 0;
}

.taskList li:hover #buttonRemove {
    opacity: 1;
    transition: opacity 0.3s ease, scale 0.3s ease;
    z-index: 100;
}

.taskList li:hover #buttonRemove::before {
    content: "Remove task";
    top: 23px;
    left: -100%;
    position: absolute;
    transform: translateX(-30px)
}

#buttonPurge {
    background-image: url('../assets/delete-all.png');
    transition: scale 0.3s ease;
}

#buttonPurge::before {
    content: "Remove all tasks";
}










/* Track */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(64, 53, 40, 0.5);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(64, 53, 40, 0.8);
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle when scrolling */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(64, 53, 40);
}