#buttonTheme {
    background-image: url('src/assets/theme.png');
    background-size: cover !important;
    border: none;
    background: none;
    margin: 0 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}